[Unit]
Description=Serial Agent
After=network.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
User=lebowski
ExecStart=/home/lebowski/code/ntua/mesp/agent.py -f /home/lebowski/code/ntua/mesp/agent.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
