[Unit]
Description=Serial Agent
After=network.target

[Service]
Type=simple
User=pi
EnvironmentFile=/etc/agent.conf
ExecStart=/home/pi/iot2edge/mesp/agent.py $ARG0 $ARG1 $ARG2
Restart=on-failure

[Install]
WantedBy=multi-user.target
