[Unit]
Description=Serial Agent
After=network.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
User=lebowski
ExecStart=
Restart=on-failure

[Install]
WantedBy=multi-user.target
