{
  "dmv": {
    "importSchemas": [
      "common-schema.json",
      "geometry-schema.json"
    ],
    "warnings": "true",
    "warningChecks": [
      "schemaExist",
      "docExist",
      "docFolderExist",
      "exampleExist",
      "modelNameValid",
      "readmeExist"
    ],
    "recursiveScan": true,
    "validateExamples": true,
    "loadModelCommonSchemas": true,
    "importExternalSchemaFolders": false,
    "resolveRemoteSchemas": false,
    "ignoreFolders": [
      "harvest",
      "auxiliary",
      "validator"
    ],
    "externalSchemaFolders" : ["externalSchema"],
    "docFolders": ["doc"],
    "contextBroker": false;
    "contextBrokerUrl": "http://localhost:1026/v2";
  },
  "ajv":{
   "missingRefs": "true",
   "extendRefs": "true",
   "allErrors": true
  }
}
